body {
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}
.square {
  position: relative;
  box-shadow: 10px 10px 8px #c8c6c6;
  border-radius: 10px;
  background: radial-gradient(
    329px at 3.1% 9.3%,
    rgb(251, 204, 235) 28.1%,
    rgba(221, 221, 221, 0.15) 100.7%
  );
  margin: 75px 75px;
  border: 1px solid
    radial-gradient(
      329px at 3.1% 9.3%,
      rgb(251, 204, 235) 28.1%,
      rgba(221, 221, 221, 0.15) 100.7%
    );
  padding: 20px 30px 20px 30px;
  max-width: 650px;
}
form {
  text-align: center;
  margin: 50px 300px 50px 300px;
  list-style: i;
}
.form-control {
  border: 1px solid #f5dcf8;
  background-color: #f5dcf8;
}

.btn-danger {
  border: 1px solid rgb(226, 139, 229);
  background-color: rgb(226, 139, 229);
}
button {
  display: block;
  position: relative;
  top: -40px;
  right: -320px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0p;
}
.btn-danger:hover {
  cursor: pointer;
  border: #f1b2fa;
  background: #f1b2fa;
}
.btn-info {
  color: #ffff;
  border: 1px solid rgb(226, 139, 229);
  background-color: rgb(226, 139, 229);
}
.btn-info:hover {
  cursor: pointer;
  color: #ffff;
  border: #f1b2fa;
  background: #f1b2fa;
}
ul.today {
  margin: 0% auto;
}

.first {
  color: #fcf1fd;
  font-size: xxx-large;
  position: relative;
  left: 40px;
}
.second {
  position: relative;
  color: #fcf1fd;
  font-size: large;
  position: relative;
  left: 40px;
  margin: 0% auto;
}

.third {
  text-transform: capitalize;
  color: #fcf1fd;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 90px;
  top: -50px;
  position: relative;

  left: 40px;
}
.description {
  text-transform: capitalize;
  top: 50px;
}
.humidity {
  position: relative;
  top: -50px;
  right: -400px;
}
.wind {
  position: relative;
  top: -50px;
  right: -450px;
}

.col {
  position: relative;
  border: 1px solid
    radial-gradient(
      329px at 3.1% 9.3%,
      rgb(251, 204, 235) 28.1%,
      rgba(221, 221, 221, 0.15) 100.7%
    );
  margin: 10px;
}

.temp {
  color: rgb(172, 134, 241);
  position: relative;
  left: -10px;
}
.emoji {
  color: #eebcf4;
  font-size: x-large;
}

ul {
  list-style: none;
}
footer {
  text-align: center;
}
